.card {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  max-width: 400px;
  margin: 30px;
}

.description {
  font-size: 16px;
  color: grey;
  line-height: 1.6;
}

.image {
  height: 350px;
  width: 350px;
  padding: 10px;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
}

.price {
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  color: green;
}

.button {
  margin-top: 20px;
  background-color: blue;
  padding: 20px;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
